[paths]
source =
    nemo_run/
    /home/runner/work/NeMo-Run/NeMo-Run/nemo_run
    /opt/NeMo-Run/nemo_run
[run]
omit =
    nemo_run/scripts/*
    nemo_run/package_info.py
    nemo_run/_version.py
    nemo_run/__main__.py
    nemo_run/**/help.py
